USE [master]
GO
--drop database FPTU_Lost_and_Found
USE [FPTU_Lost_and_Found]
/****** Object:  Database [FPTU_Lost_and_Found]    Script Date: 29/06/2022 3:16:19 CH ******/
CREATE DATABASE [FPTU_Lost_and_Found]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FPTU_Lost_and_Found', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FPTU_Lost_and_Found.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FPTU_Lost_and_Found_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\FPTU_Lost_and_Found_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FPTU_Lost_and_Found].[dbo].[sp_fulltext_database] @action = 'enable'
end

GO
USE [FPTU_Lost_and_Found]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 29/06/2022 3:16:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[ArticleContent] [nvarchar](max) NOT NULL,
	[ImgURL] [nvarchar](300) NULL,
	[PostTime] [datetime] NOT NULL,
	[ArticleStatus] [bit] NOT NULL,
	[LocationID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[ArticleTypeID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[TotalReport] [int] NULL,
	[TotalLike] [int]  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticleType]    Script Date: 29/06/2022 3:16:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
drop table [Like]
CREATE TABLE [dbo].[Like](
	[LikeID] [int] IDENTITY(1,1) NOT NULL,
	[ArticleID] [int] NOT NULL FOREIGN KEY REFERENCES Article(ArticleID),
	[MemberID] [int] NOT NULL FOREIGN KEY REFERENCES Member(MemberID),
	[LikeStatus] [bit] NOT NULL,
)

SET IDENTITY_INSERT [dbo].[Like] ON 
INSERT [dbo].[Like] ([LikeID], [ArticleID], [MemberID], [LikeStatus]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Like] ([LikeID], [ArticleID], [MemberID], [LikeStatus]) VALUES (2, 2, 1, 1)
INSERT [dbo].[Like] ([LikeID], [ArticleID], [MemberID], [LikeStatus]) VALUES (3, 2, 2, 1)
SET IDENTITY_INSERT [dbo].[Like] OFF

CREATE TABLE [dbo].[ArticleType](
	[ArticleTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ArticleTypeName] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ArticleTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 29/06/2022 3:16:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogID] [int] IDENTITY(1,1) NOT NULL,
	[BlogName] [nvarchar](100) NOT NULL,
	[BlogContent] [nvarchar](max) NULL,
	[MemberID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 29/06/2022 3:16:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[ArticleID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[CommentContent] [nvarchar](max) NOT NULL,
	[CommentTime] [datetime] NOT NULL,
	[CommentStatus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemType]    Script Date: 29/06/2022 3:16:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemType](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 29/06/2022 3:16:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

SELECT BlogID, BlogName,  BlogContent, MemberID FROM Blog



CREATE TABLE [dbo].[Location](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 29/06/2022 3:16:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Picture] [nvarchar](200) NULL,
	[Phone] [nvarchar](10) NULL,
	[ProfileInfo] [nvarchar](max) NULL,
	[RoleID] [int] NOT NULL,
	[MemberStatus] [bit] NOT NULL,
	[TotalReport] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 29/06/2022 3:16:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[ArticleID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[ReportContent] [nvarchar](max) NOT NULL,
	[ReportTime] [datetime] NOT NULL,
	[ReportStatus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 29/06/2022 3:16:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Article] ON 


INSERT [dbo].[Article] ([ArticleID], [ArticleContent], [ImgURL], [PostTime], [ArticleStatus], [LocationID], [MemberID], [ArticleTypeID], [ItemID], [TotalReport], [totalLike]) VALUES (1, N'Nhặt được CCCD tại phòng Seminar Giấy tờ mang tên TRẦN PHƯƠNG THÁI (2001, Hà Nội)', N'https://timdothatlac.s3.ap-southeast-1.amazonaws.com/images/articles/ebd6e077-6c4b-44e0-8539-81c3e3d2cf07.jpg', CAST(N'2022-06-23T15:57:22.457' AS DateTime), 1, 4, 2, 2, 3, 1, 1)
INSERT [dbo].[Article] ([ArticleID], [ArticleContent], [ImgURL], [PostTime], [ArticleStatus], [LocationID], [MemberID], [ArticleTypeID], [ItemID], [TotalReport], [totalLike]) VALUES (2, N'Nhặt được ví tại Nhà xe Giấy tờ mang tên VÕ THỊ TƯỜNG DUY (2001, Bến Tre)', N'https://vn-test-11.slatic.net/p/e212a01b93e8ab0507471c4a7f511e65.jpg', CAST(N'2022-06-22T15:57:22.457' AS DateTime), 1, 2, 3, 2, 1, 0, 2)
INSERT [dbo].[Article] ([ArticleID], [ArticleContent], [ImgURL], [PostTime], [ArticleStatus], [LocationID], [MemberID], [ArticleTypeID], [ItemID], [TotalReport], [totalLike]) VALUES (3, N'Nhặt được Giấy phép lái xe tại phòng 202 Tầng 2 Giấy tờ mang tên HOÀNG ĐÌNH THÁI (2001, Hồ Chí Minh)', N'https://accgroup.vn/wp-content/uploads/2021/09/lam-giay-to-xe-mat-bao-lau.jpg', CAST(N'2022-06-21T15:57:22.457' AS DateTime), 1, 1, 4, 2, 2, 3, 3)
SET IDENTITY_INSERT [dbo].[Article] OFF
GO
SET IDENTITY_INSERT [dbo].[ArticleType] ON 

INSERT [dbo].[ArticleType] ([ArticleTypeID], [ArticleTypeName]) VALUES (1, N'Đồ thất lạc')
INSERT [dbo].[ArticleType] ([ArticleTypeID], [ArticleTypeName]) VALUES (2, N'Đồ nhặt được')
SET IDENTITY_INSERT [dbo].[ArticleType] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([BlogID], [BlogName], [BlogContent], [MemberID]) VALUES (1, N'Mẹo hay cho những người chuyên để thất lạc đồ', N'Đựng tai nghe vào cái ví nhỏ, Biến bút thành những bông hoa, Cách giữ chỉ, len hiệu quả, Giá đựng các dây cáp', 1)
INSERT [dbo].[Blog] ([BlogID], [BlogName], [BlogContent], [MemberID]) VALUES (2, N'Cách để phòng tránh bị thất lạc đồ', N'Chú ý đến mỗi việc mình làm, Đặt đồ vật ở vị trí cố định', 1)
INSERT [dbo].[Blog] ([BlogID], [BlogName], [BlogContent], [MemberID]) VALUES (3, N'Cách tìm kiếm điện thoại thất lạc nhanh nhất', N'Cách tốt nhất (và duy nhất) để lấy lại iPhone của bạn là thông qua tính năng gốc của Apple,  Find My iPhone.', 1)
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([CommentID], [ArticleID], [MemberID], [CommentContent], [CommentTime], [CommentStatus]) VALUES (11, 1, 2, N'Mong chủ nhân sớm tìm được lại CCCD', CAST(N'2022-06-18T12:01:01.000' AS DateTime), 1)
INSERT [dbo].[Comment] ([CommentID], [ArticleID], [MemberID], [CommentContent], [CommentTime], [CommentStatus]) VALUES (12, 2, 3, N'Mong chủ nhân sớm tìm được lại Ví', CAST(N'2022-06-21T13:01:01.000' AS DateTime), 1)
INSERT [dbo].[Comment] ([CommentID], [ArticleID], [MemberID], [CommentContent], [CommentTime], [CommentStatus]) VALUES (13, 3, 4, N'Mong chủ nhân sớm tìm được lại Giấy phép lái xe', CAST(N'2022-07-12T02:02:02.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemType] ON 

INSERT [dbo].[ItemType] ([ItemID], [ItemName]) VALUES (1, N'Ví/Bóp')
INSERT [dbo].[ItemType] ([ItemID], [ItemName]) VALUES (2, N'Giấy tờ')
INSERT [dbo].[ItemType] ([ItemID], [ItemName]) VALUES (3, N'CCCD/CMND')
SET IDENTITY_INSERT [dbo].[ItemType] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([LocationID], [LocationName]) VALUES (1, N'Phòng học')
INSERT [dbo].[Location] ([LocationID], [LocationName]) VALUES (2, N'Nhà xe')
INSERT [dbo].[Location] ([LocationID], [LocationName]) VALUES (3, N'Sảnh chính (Trống đồng)')
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([MemberID], [FullName], [Email], [Picture], [Phone], [ProfileInfo], [RoleID], [MemberStatus], [TotalReport]) VALUES (1, N'NaaTy', N'thyhnse151101@fpt.edu.vn', N'https://i.pinimg.com/originals/30/1f/58/301f58a07b86756082b9f37fc908e3d7.jpg', N'12345', N'cutexinkgai', 1, 1, 2)
INSERT [dbo].[Member] ([MemberID], [FullName], [Email], [Picture], [Phone], [ProfileInfo], [RoleID], [MemberStatus], [TotalReport]) VALUES (2, N'Nguyen Quoc Sy', N'synqse151029@fpt.edu.vn', N'https://lh3.googleusercontent.com/a-/AOh14GjXYEr6kKhobEJZPMKBxGjgLTQsUKsdbbuPxb19=s96-c', NULL, NULL, 2, 1, 1)
INSERT [dbo].[Member] ([MemberID], [FullName], [Email], [Picture], [Phone], [ProfileInfo], [RoleID], [MemberStatus], [TotalReport]) VALUES (3, N'Trần Phương Thái K15 HCM', N'thaitpse151053@fpt.edu.vn', N'https://lh3.googleusercontent.com/a-/AOh14GgvIvsCSYPC3rs-Yba5Kik5sFsoPwuLjCpObvso3Q=s96-c', NULL, NULL, 2, 0, 0)
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([ReportID], [ArticleID], [MemberID], [ReportContent], [ReportTime], [ReportStatus]) VALUES (1, 2, 2, N'Đưa hình sai thông tin', CAST(N'2022-08-16T22:22:22.000' AS DateTime), 0)
INSERT [dbo].[Report] ([ReportID], [ArticleID], [MemberID], [ReportContent], [ReportTime], [ReportStatus]) VALUES (2, 5, 3, N'Đưa hình đã photoshop', CAST(N'2022-09-17T23:20:22.000' AS DateTime), 1)
INSERT [dbo].[Report] ([ReportID], [ArticleID], [MemberID], [ReportContent], [ReportTime], [ReportStatus]) VALUES (3, 8, 4, N'Đưa hình sai thông tin', CAST(N'2022-10-18T12:12:22.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Member')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
ALTER TABLE [dbo].[Article] ADD  CONSTRAINT [DF_Article_PostTime]  DEFAULT (getdate()) FOR [PostTime]
GO
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_CommentTime]  DEFAULT (getdate()) FOR [CommentTime]
GO
ALTER TABLE [dbo].[Report] ADD  CONSTRAINT [DF_Report_ReportTime]  DEFAULT (getdate()) FOR [ReportTime]
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD FOREIGN KEY([ArticleTypeID])
REFERENCES [dbo].[ArticleType] ([ArticleTypeID])
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[ItemType] ([ItemID])
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD FOREIGN KEY([LocationID])
REFERENCES [dbo].[Location] ([LocationID])
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([ArticleID])
REFERENCES [dbo].[Article] ([ArticleID])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD FOREIGN KEY([ArticleID])
REFERENCES [dbo].[Article] ([ArticleID])
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
USE [master]
GO
