<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>controller.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageController</servlet-name>
        <servlet-class>controller.PageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailArticleController</servlet-name>
        <servlet-class>controller.DetailArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TypePostController</servlet-name>
        <servlet-class>controller.TypePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPhotoController</servlet-name>
        <servlet-class>controller.UploadPhotoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>controller.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>controller.ReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>controller.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeArticleController</servlet-name>
        <servlet-class>controller.LikeArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>controller.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailBlogController</servlet-name>
        <servlet-class>controller.DetailBlogController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageController</servlet-name>
        <url-pattern>/PageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailArticleController</servlet-name>
        <url-pattern>/DetailArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TypePostController</servlet-name>
        <url-pattern>/TypePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPhotoController</servlet-name>
        <url-pattern>/UploadPhotoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/ReportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/CommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeArticleController</servlet-name>
        <url-pattern>/LikeArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/BlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailBlogController</servlet-name>
        <url-pattern>/DetailBlogController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>PageController</welcome-file>
    </welcome-file-list>
</web-app>
